snippet cf Codeforces
    import sys

    input = lambda: sys.stdin.readline().rstrip()
    II = lambda: int(input())
    LII = lambda: list(map(int, input().split()))

    def solve():
        pass$0

    def main():
        T = 1$1
        for _ in range(T):
            ans = solve()
            print(ans)
    main()
